{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}  {% trans 'Design' %}  {% endblock %}

{% block content %}
    <h1>{% trans 'Design' %}</h1>
    <div class="order-info">
        <h3>{% trans 'List' %}</h3>
        <ul>
  {% for item in cart %}
    <li>
      {{ item.product.name }} - {{ item.quantity }}

      {% if item.product.weight_unit == "kg" %}
        {% trans 'kg' %}
      {% elif item.product.weight_unit == "g" %}
        {% trans 'g' %}
      {% elif item.product.weight_unit == "pcs" %}
        {% trans 'pcs' %}
      {% endif %}

      x {{ item.price }} {% trans 'uah' %}
    </li>
  {% endfor %}
</ul>
        <p>{% trans 'Total'%}: {{ cart.get_total_price }} {% trans 'uah'%}</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}