{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'About us' %}
{% endblock %}
{% block content %}
    <style>
        .contact-block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            display: none;
        }
    </style>
    <div class="as-we">

    <h2>{% trans 'Information about us' %}</h2>
    <p>Магазин My shop - ваш найкращий вибір для свіжих, смачних та здорових продуктів. Ми пропонуємо широкий асортимент
        свіжих овочів та фруктів, які вирощуються в екологічно чистих регіонах.</p>
    <p>Наша місія - забезпечити наших клієнтів найсвіжішими та найсмачнішими продуктами з найвищою якістю. Ми працюємо
        безпосередньо з фермерами та постачальниками, щоб гарантувати, що наші продукти є свіжими, натуральними.</p>
    <p>Наша команда експертів у сфері продуктів харчування завжди готова надати вам рекомендації та поради щодо вибору
        найкращих продуктів для вашого здоров'я та задоволення смаку. Ми пишаємося нашою дбайливою обробкою та уважним
        відношенням до кожного продукту, що потрапляє на полиці нашого магазину.</p>
        <p>Наші складські приміщення оснащені іноваційним обладнанням яке гарантує збереження всіх корисних властивостей.</p>
    <p>Переконайтеся в якості наших продуктів самостійно. Ми впевнені, що ви знайдете у нас все необхідне для здорового
        харчування та насолоди смаку.</p>
</div>
<div class="about-us">
    <h2>{% trans 'Our address'%}</h2>
    <p>{% trans 'Khmelnytsky city'%}</p>
    <p>{% trans 'central street, building 18 b'%}</p>
    </div>
<div class="aboutt-us">
    <h2>{% trans 'Work schedule'%}</h2>
    <p>08:30 - 18:30{% trans ' Monday - Friday'%}</p>
    <p>09:00 - 15:00{% trans ' Saturday'%}</p>
    <p>{% trans 'closed Sunday and public holidays'%}</p>
    </div>
{% endblock %}
</html>