{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Всі товари{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
<h3>{% trans 'Category' %}</h3>
<ul>
<li {% if not category %}class="selected"{% endif %}>
<a href="{% url 'shop:product_list' %}">{% trans 'All products' %}</a>
</li>
{% for c in categories %}
<li {% if category.slug == c.slug %}class="selected" {% endif %}>
<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
</li>
{% endfor %}
</ul>
</div>
<div id="main" class="product-list">
<h1>{% if category %}{{ category.name }}{% else %}{% trans 'All products' %}{% endif %}</h1>
{% for product in products %}
<div class="item">
<a href="{{ product.get_absolute_url }}">
    <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
</a>
    <hr>
    <div>
<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
    </div>

<br>
{{ product.price }} {% trans 'UAH for' %} {{ product.weight }}
    {% if product.weight_unit == "kg" %}
        {% trans 'kg' %}
    {% elif product.weight_unit == "g" %}
        {% trans 'g' %}
    {% elif product.weight_unit == "pcs" %}
        {% trans 'pcs' %}
    {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}